/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppines' , sans-serif;
}
.Header{
  margin: 2px;
  padding: 12px 23px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  box-shadow: 0px 11px 21px 2px rgba(13, 13, 13, 0.5);
  flex-grow: 1;
}
.Header .logo-img{
  /* border: 1px solid blue; */
  width: 120px;
}
.Header .logo{
  /* border: 1px solid black; */
  flex-grow: 1;
  text-align: center;
}
.Header .nev-item{
  flex-grow: 2;
}
.Header .nev-item ul {
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  column-gap: 12px;
  row-gap: 12px;
}
.main{
  margin: 20px 12px;
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid dodgerblue; */
}
.main .main-container{
  /* border: 1px solid pink; */
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0px;
  flex-wrap: wrap;
  row-gap: 21px;
}
.card{
  box-shadow: 0px 7px 12px 1px rgba(13, 13, 13, 0.5);
  /* border: 1px solid red; */
  max-width: 350px;
}
.card .card-detail{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  /* flex-wrap: wrap; */
  /* white-space: nowrap; */
  padding: 0px 12px
}
.main .main-container img{
  width: 100%;
  aspect-ratio: 2/1;
}
.main .search{
  /* border: none; */
  /* border: 1px solid red; */
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.main .search .search-input{
  border: none;
  outline: none;
  font-size: 30px;
  padding: 9px;
  border-radius: 17px;
  box-shadow: -3px 3px 12px 0px rgba(13, 13, 13, 0.5);
}
.main .search .search-button{
  border: none;
  outline: none;
  font-size: 20px;
  padding:10px 21px;
  border-radius: 17px;
  margin-left: 12px;
  font-weight: 600px;
  background: linear-gradient(130deg , rgba(251, 182, 54, 0.947) , rgb(243, 233, 233) , rgb(251, 189, 74));
  cursor: pointer;
}
.digin{
  /* border: 1px solid red; */
  width: 60%;
  height: 70vh;
  display: flex;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin-top: 17px;
  background-color:  rgba(229, 229, 229, 0.477);
}
.left{
  /* border: 1px solid green; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.left .modal{
  /* border: 1px solid black; */
  width: 100%;
  aspect-ratio: 3/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
}
.left .modal .circle{
  /* border: 1px solid pink; */
  background:linear-gradient(150deg , rgb(171, 170, 170) , white);
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
  margin: 21px 7px;
  width: 20%;
  height: 45%;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  flex-grow: 1;
}
.left .modal .ractangle{
  /* border: 1px solid orange; */
  /* background-color: orange; */
  background:linear-gradient(150deg , rgba(196, 192, 192, 0.666) , white);
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  width: 100%;
  aspect-ratio: 4/1;
  margin: 21px 7px;
  flex-grow: 2;
}
.right{
  border-left:2px solid rgb(0 ,0, 0 , 0.15);
  flex-grow: 1.5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.right .rcard1{
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 94%;
  height: 40%;
}
.right .rcard{
  /* border: 2px solid red; */
  width: 40%;
  height: 100%;
  background:linear-gradient(150deg , rgba(196, 192, 192, 0.666) , white);
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
}